@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,700&family=Roboto&display=swap");

@import "~react-image-gallery/styles/css/image-gallery.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  padding-bottom: 100px;
}
:root {
  --purple: rgb(110, 34, 182);
}

/* Navbar */
.logo {
  width: 160px;
}

.nav-bar {
  display: flex;
  height: 80px;
  justify-content: space-between;
  background: var(--purple);
  align-items: center;
  padding: 0 4rem;
}

.navbar-container {
  border-bottom: 5px solid rgb(255, 221, 0);
}

@media (max-width: 767px) {
  .nav-bar {
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
    padding: 0 4rem 1rem;
  }
}

.nav-bar .nav-bag,
.nav-bar a {
  color: white;
  text-decoration: none;
}
.nav-bar .logo-container {
  width: 150px;
  display: inline-block;
}

.nav-bar a img {
  width: 100%;
}

.nav-bar h2 {
  font-size: 32px;
}

.nav-bag {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  cursor: pointer;
}

.bag-quantity span {
  display: block;
  width: 24px;
  height: 24px;
  background: rgb(255, 221, 0);
  border-radius: 100%;
  color: var(--purple);
  text-align: center;
  font-weight: bold;
  line-height: 25px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right a {
  margin-right: 40px;
}

.loggedin-name {
  color: yellow;
  font-weight: 500;
  text-decoration: underline;
}

/* Not Found */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 80vh;
}

.not-found h2 {
  font-size: 40px;
  color: rgb(68, 68, 68);
}

/* Home  */
.home-container {
  padding: 2rem 4rem;
}

.home-container h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.products h3 {
  margin-bottom: 1.5rem;
}

.products .product-img {
  width: 350px;
  height: 350px;
}

.product-img img {
  width: 100%;
}

.product {
  text-align: center;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 2px #eee;
  padding: 2rem;
}

.product .detail {
  width: 70%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

/* Cart */
.cart-container {
  margin-top: 60px;
  text-align: center;
}
.cart-empty {
  margin-top: 100px;
}

.bi-arrow-left {
  position: relative;
  top: 4px;
  right: 5px;
}

.start-shopping a {
  text-decoration: none;
  color: #333;
}

.cart-items-list {
  margin: 60px auto;
  width: 70%;
}

.cart-items-list .product-title {
  text-align: left;
  width: 30%;
}

.titles {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
  padding-bottom: 20px;
}

.product-title-mobile,
.product-price-mobile,
.product-qty-mobile,
.product-totalPrice-mobile {
  display: none;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #aaa;
  align-items: center;
}

.cart-desc {
  display: flex;
  width: 30%;
}

.cart-image-container {
  width: 80px;
}

.cart-image-container img {
  width: 100%;
  border: 1px solid black;
}

.cart-desc .title {
  font-size: 20px;
  margin-bottom: 10px;
}

.btn-remove {
  margin-top: 20px;
  background: none;
  color: #333;
  border: none;
}

.btn-remove:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cart-desc .details {
  text-align: left;
  padding-left: 10px;
}

.cart-qty button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: #eee;
  border: 1px solid #aaa;
  background: none;
  border: 1px solid #000;
  font-weight: bold;
}

.cart-qty button:hover {
  background: #eee;
}

.cart-qty span {
  margin: 0 10px;
}

.cart-container .row {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.clear-btn button {
  width: 100px;
  height: 40px;
  background-color: #fff;
  color: #333;
  border-color: #333;
  border-radius: 5px;
  cursor: pointer;
}

.clear-btn button:hover {
  color: #fff;
  background-color: #000;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.tax {
  color: #555;
  font-size: 13px;
  margin-bottom: 15px;
}

.checkout-btn {
  width: 100%;
  height: 40px;
  background-color: var(--purple);
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 15px;
  cursor: pointer;
}

.checkout-btn:disabled {
  background-color: grey;
}

.dropdown {
  /* height: 100px; */
  max-height: 400px;
  width: 250px;
  box-shadow: -2px 3px 2px #ccc;
  position: absolute;
  right: 0;
  top: 80px;
  background-color: #fff;
  overflow-y: scroll;
  padding: 15px;
  z-index: 999;
}

.dropItem {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

.dropItem p {
  margin: 6px;
}

.dropItem img {
  width: 80px;
}

.no-cart-item {
  text-align: center;
  margin-bottom: 20px;
}

/* Category  */

.categories-container {
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  min-width: 80%;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .categories-container {
    width: 80%;
    margin: 50px auto;
  }
}

.category-card {
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 40px;
  border: 4px solid #000;
  overflow: hidden;
}

.category-card img {
  height: 100%;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-title {
  background-color: #fff;
  padding: 20px 60px;
  color: #000;
  font-weight: bold;
  border: 2px solid #000;
  opacity: 0.7;
  position: absolute;
  left: 50%;
  bottom: 50%;
  z-index: 100;
  transform: translate(-50%, 50%);
}

/* Shop now */
.all-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.product-header {
  background-color: #eee;
  padding: 20px;
  margin: 20px 0;
}

.product-details {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.all-categories-container {
  width: 80%;
  margin: 0 auto;
}

.all-categories-container a {
  text-decoration: none;
}

.product-card {
  margin: 0 10px;
  border: 1px solid #ccc;
  margin: 20px;
}

.product-card img {
  width: 250px;
  height: 300px;
}

.btn.btn-details {
  margin: 20px auto;
  width: 80%;
  height: 40px;
  display: flex;
  background-color: var(--purple);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.breadcrumb {
  color: #0000ee;
  font-size: 14px;
  margin: 40px 0;
}

.breadcrumb a {
  color: #333;
  text-decoration: none;
  margin: 0 5px;
}

.one-product {
  margin: 40px auto;
  width: 80%;
}

.desc {
  display: flex;
}

.desc .left {
  width: 40%;
}

.desc .left .text-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.desc hr {
  margin-bottom: 20px;
}

.desc .right {
  padding: 0 60px;
  width: 60%;
}

.desc .right h3 {
  margin-bottom: 15px;
}

.desc .right p {
  padding-bottom: 10px;
}

.desc .right ul {
  list-style: square;
  list-style-position: inside;
  line-height: 26px;
  margin-bottom: 60px;
}

.image-gallery-slide .image-gallery-image {
  height: 400px !important;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 60px !important;
}

.image-gallery-play-button,
.image-gallery-fullscreen-button {
  display: none;
}

.login-btn {
  color: #000;
  background: rgb(255, 181, 42);
  padding: 10px 40px;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.login-btn:hover {
  background-color: rgb(228, 152, 11);
}

.fa-lock {
  margin-right: 10px;
}

/* Search */
.search-result {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  width: 80%;
  justify-content: left;
}

.search-container {
  max-width: 300px;
  position: relative;
  top: 10px;
}

.search-container input {
  height: 40px;
  width: 100%;
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
  opacity: 0.9;
}

.search-container .fa {
  position: absolute;
  right: 10px;
  bottom: 30px;
  cursor: pointer;
}

.adv-search-text {
  color: #fff;
  cursor: pointer;
  position: relative;
  left: 300px;
  bottom: 30px;
  margin-left: 20px;
}

.no-search-result {
  margin: auto;
}

.sort-dropdown-container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: right;
}

.sort-dropdown {
  width: 160px;
  height: 35px;
  padding: 0 5px;
  border: 1px solid #aaa;
  margin-right: 20px;
}

@media (max-width: 1300px) {
  .nav-bar {
    flex-direction: column;
    height: 180px;
    padding-bottom: 40px;
  }

  .dropdown {
    top: 180px;
  }
}

@media (max-width: 1000px) {
  .product-rate-container {
    flex-direction: column;
  }

  .rate-product {
    margin-right: 0 !important;
    transition: all 0.3s;
  }

  .full-scale {
    margin-top: 20px;
  }

  .hide-tablet {
    display: none !important;
  }

  .show-tablet {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .register-form {
    width: 80%;
    margin: auto;
  }
  .desc {
    flex-direction: column;
  }

  .desc .left,
  .desc .right {
    width: unset;
  }
  .desc .right {
    padding: 0 30px;
  }

  .adv-search-text {
    left: 0;
    bottom: 65px;
  }
  .all-categories {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .nav-bar {
    padding: 1rem;
    height: 325px;
  }

  .dropdown {
    top: 330px;
  }

  .titles {
    display: none;
  }
  .product-title-mobile,
  .product-price-mobile,
  .product-qty-mobile,
  .product-totalPrice-mobile {
    display: inline-block;
    margin: 20px;
  }

  .cart-item {
    flex-direction: column;
  }

  .cart-desc {
    width: 100%;
    justify-content: center;
  }

  .cart-container .row {
    flex-direction: column;
    margin-top: 60px;
  }

  .clear-btn {
    margin-bottom: 40px;
  }

  .clear-btn button {
    width: 100%;
  }

  .subtotal {
    justify-content: space-around;
    background-color: #eee;
    padding: 10px 0;
  }

  .nav-right {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-right a {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .loggedin-name {
    margin-top: 15px;
    display: inline-block;
  }

  .auth-links {
    flex-direction: column;
    display: flex;
  }
}

.hide-tablet {
  display: block;
}

.show-tablet {
  display: none;
}

.login-name {
  color: rgb(255, 221, 0);
}

.adv-search-dropdown {
  max-width: 300px;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 999;
  position: absolute;
  top: 40px;
  padding: 30px;
  border: 1px solid #aaa;
}

input[type="range"] {
  width: 80%;
}

#category-select {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin: 10px 0 15px;
}

#category-select-label {
  margin-top: 30px;
  display: inline-block;
}

.add-to-favorite {
  background-color: rgb(255, 221, 0);
  box-shadow: 2px 2px 1px #aaa;
  border: none;
  border-radius: 5px;
  width: 47%;
  height: 40px;
  cursor: pointer;
}

.add-to-favorite:hover {
  background-color: rgb(219, 190, 5);
}

.remove-from-favorite {
  margin: 20px;
  width: 80%;
  height: 40px;
  display: flex;
  background-color: rgb(255, 221, 0);
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.product button,
.add-to-cart {
  width: 47%;
  height: 40px;
  background-color: var(--purple);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 1px #aaa;
}

.add-to-cart:hover {
  background-color: rgb(91, 29, 148);
}

.favorite-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.fa-trash {
  margin-right: 10px;
}

.checkout-success {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.fa-check {
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.5);
}

.fa-check:before {
  content: "\f00c";
  width: 12px;
  height: 12px;
  display: inline-block;
  color: rgb(1, 184, 1);
  border-radius: 5px;
  font-size: 45px;
  margin-right: 20px;
}

.checkout-success span {
  margin-left: 20px;
}

.rate-product {
  display: flex;
  width: 160px;
  justify-content: space-between;
  margin-right: 20px;
}

.rate-product button {
  padding: 0.5rem;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  width: 80px;
  transition: all 0.3s;
}

.rate-product button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.rate-product button:active {
  transform: translateY(0px);
}

.rate-product .btn-liked {
  background-color: rgb(27, 202, 27);
}

.rate-product .btn-disliked {
  background-color: rgb(237, 28, 28);
}

.rate-number {
  margin-top: 10px;
  text-align: center;
}

.full-scale {
  width: 100%;
  height: 5px;
  background: #aaa;
}

.product-rate-container {
  background: #eee;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

footer {
  background: #333;
  color: #fff;
  margin-top: 60px;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.no-favorite {
  margin-top: 100px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.fa-facebook-f {
  background: #4267b2;
  color: #fff;
}

.footer-right a {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.err-msg {
  border: 1px solid rgb(243, 41, 41) !important;
}

/* Comment */
.comment-container {
  width: 100%;
  margin: 60px auto;
  border-top: 1px solid #aaa;
  padding: 40px 0;
  background-color: #f7f0ff;
}

.comment-container form {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40px;
  border-bottom: 2px solid #000;
}

.comment-container h2 {
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid #000;
  padding-bottom: 20px;
}

.comment-container input,
.comment-container textarea {
  width: 100%;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.comment-container label {
  margin-bottom: 10px;
  display: inline-block;
}

.comment-container .form-control {
  margin-bottom: 40px;
}

.comment-container input {
  height: 30px;
}

.comments {
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
}

.comment {
  border-bottom: 1px solid #aaa;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.comment h3 {
  margin-bottom: 10px;
}

.comment-success {
  color: green;
  font-family: bold;
  text-align: center;
  margin-top: 40px;
}

.feedback-message {
  text-align: center;
  color: red;
  margin-bottom: 10px;
}

.fa-user-tie {
  background: #fff;
  padding: 7px;
  border-radius: 100%;
  border: 1px solid #aaa;
}
